<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/custom/common-scripts.js"></script>
    <script src="~/Scripts/custom/js-validator.js"></script>
    <script src="~/Scripts/custom/test-edit-lib.js"></script>
    <script src="~/Scripts/custom/repository.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="clearfix">
            <ul class="site-menu menu-list">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><span>Quizzes</span>
                    <ul>
                        <li><a href="~/UserQuizzes/Index">Create</a></li>
                    </ul>
                </li>
                <li><span>Administration</span>
                    <ul>
                        <li><a href="~/Administration/Categories">Categories</a></li>
                        <li><a href="~/Administration/Quizzes">Quiz Administration</a></li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
